/SeminarRepor.synctex.gz
/SeminarReport.pdf
/SeminarReport.synctex.gz
/tmp/
/.project
/.texlipse
/SeminarReport.bbl
/SeminarReport.blg
/Abstract.aux
/Appendix.aux
/SeminarReport.aux
/SeminarReport.log
/SeminarReport.toc
/TitlePage.aux
